/*==============================
=            MIXINS            =
==============================*/

/*----------  Responsive mixins  ----------*/

/* Responsive breakpoint manager.
  @access public
  @param {String} $breakpoint - Breakpoint
  usage: @include media-query(phone-max) {}
*/
@mixin media-query-up($breakpoint) {
  @if $breakpoint=="phone" {
    @media (min-width: $g-phone-breakpoint-min-width) {
      @content;
    }
  }

  @else if $breakpoint=="tablet" {
    @media (min-width: $g-tablet-breakpoint-min-width) {
      @content;
    }
  }

  @else if $breakpoint=="desktop" {
    @media (min-width: $g-desktop-breakpoint-min-width) {
      @content;
    }
  }

  @else if $breakpoint=="desktop-large" {
    @media (min-width: $g-desktop-large-breakpoint-min-width) {
      @content;
    }
  }

  @else if $breakpoint=="desktop-retina" {
    @media (min-width: $g-desktop-retina-breakpoint-min-width) {
      @content;
    }
  }

  @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

/* Responsive breakpoint manager.
  @access public
  @param {String} $breakpoint - Breakpoint
  usage: @include media-query-down(phone) {}
*/
@mixin media-query-down($breakpoint) {
  @if $breakpoint=="phone" {
    @media (max-width: $g-phone-breakpoint-max-width) {
      @content;
    }
  }

  @else if $breakpoint=="tablet" {
    @media (max-width: $g-tablet-breakpoint-max-width) {
      @content;
    }
  }

  @else if $breakpoint=="desktop" {
    @media (max-width: $g-desktop-breakpoint-max-width) {
      @content;
    }
  }

  @else if $breakpoint=="desktop-large" {
    @media (max-width: $g-desktop-large-breakpoint-max-width) {
      @content;
    }
  }

  @else if $breakpoint=="desktop-retina" {
    @media (max-width: $g-desktop-retina-breakpoint-max-width) {
      @content;
    }
  }

  @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

/*=====  End of MIXINS  ======*/