@font-face {
    font-family: 'Aquawax Pro';
    src: url('AquawaxPro-Regular.eot');
    src: url('AquawaxPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('AquawaxPro-Regular.woff2') format('woff2'),
        url('AquawaxPro-Regular.woff') format('woff'),
        url('AquawaxPro-Regular.ttf') format('truetype'),
        url('AquawaxPro-Regular.svg#AquawaxPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heavitas';
    src: url('Heavitas.eot');
    src: url('Heavitas.eot?#iefix') format('embedded-opentype'),
        url('Heavitas.woff2') format('woff2'),
        url('Heavitas.woff') format('woff'),
        url('Heavitas.ttf') format('truetype'),
        url('Heavitas.svg#Heavitas') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Subway';
    src: url('Subway-Black.eot');
    src: url('Subway-Black.eot?#iefix') format('embedded-opentype'),
        url('Subway-Black.woff2') format('woff2'),
        url('Subway-Black.woff') format('woff'),
        url('Subway-Black.ttf') format('truetype'),
        url('Subway-Black.svg#Subway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aquawax Pro';
    src: url('AquawaxPro-Bold.eot');
    src: url('AquawaxPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('AquawaxPro-Bold.woff2') format('woff2'),
        url('AquawaxPro-Bold.woff') format('woff'),
        url('AquawaxPro-Bold.ttf') format('truetype'),
        url('AquawaxPro-Bold.svg#AquawaxPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

