/*================================
=            Basic CSS            =
================================*/
html, body {
    overflow-x: hidden;
}

#page {
    overflow: hidden;
}

.br-0{
	border-radius:0;
}
.snbg-sep{
	img{
		display: block !important;
	}
}

.text-sm {
    font-size: 70%;
}

.text-lg{
	font-size: 22px;
}

.fapr{
	font-family: Aquawax Pro RG;
}
.fapm{
	font-family: Aquawax Pro Medium;
}
.fapb{
	font-family: Aquawax Pro Bold;
}

.owl-carousel{

	// Navs
	.owl-nav{
		.owl-prev,
		.owl-next{
			position: absolute;
			position: absolute;
	    	top: 50%;
	    	transform: translateY(-50%);

	    	@include media-query-down('phone') {
	    		width: 10px;
	    	}
		}

		.owl-prev{
			left: -20px;
		}

		.owl-next{
			right: -20px;
		}
	}

	&.sn-slider{
		// Navs
		.owl-nav{

			.owl-prev{
				left: 20px;
			}

			.owl-next{
				right: 20px;
			}
		}
	}

	// Dots
	.owl-dots{
		position: absolute;
	    bottom: 33px;
	    margin: 0 auto;
	    left: 0;
	    right: 0;
	    text-align: center;
	    max-width: 320px;

		.owl-dot{
			span{
		    margin: 0 3px;
		    position: relative;
		    height: 14px;
		    width: 14px;
		    display: block;

		    &:before{
		    	content: "";
					position: absolute;
			    left: 0;
			    right: 0;
			    background: #666;
			    height: 14px;
			    width: 14px;
			    border-radius: 100px;
			    margin: 0 auto;
			    top: 50%;
			    transform: translateY(-50%);
		    }

		    &:after{
		    	content: "";
					position: absolute;
			    left: 0;
			    right: 0;
			    background: #fff;
			    height: 8px;
			    width: 8px;
			    border-radius: 100px;
			    margin: 0 auto;
			    top: 50%;
			    transform: translateY(-50%);
		    }
			}

			&.active span{
				&:after{
			    background: #4d4d4d;
			  }
			}
		}
	}
}



.text-center{
	text-align: center;
}

.text-left {
    text-align: left;
}

.d-none, .hidden{
	display: none;

}

body.page.woocommerce-cart {
	.entry-header {
	    text-align: center;
	    margin-bottom: 3em;
	}
}

/*IMG Sep*/
.snbg-sep,
.sep {
	img {
	    width: 100%;
	    display: block;
	}
}

img.sep{
	width: 100%;
	display: block;
}

/*Accordion*/
.elementor-accordion{
	.elementor-tab-title{
		overflow: hidden;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    order: 1;
	}

	.elementor-accordion-icon{
		svg{
			display: block;
		}

		&.elementor-accordion-icon-right{
			order: 2;
		}
	}

}

// SVG
.snsvg,
.fullsvg {
	svg{
		display: block;
	}

	.elementor-icon{
		display: block;
	}
}

// Transition
.secondary a *,
.site-footer a *,
.site-header a *,
.main-header-menu .menu-link,
.main-header-menu a,
a {
    transition: none;
}


.sn_checkbox-icon,
.sn_radio-icon {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 2px;
    cursor: pointer;
    user-select: none;

    svg{
    	display: block;
    }

    text {
	    display: none;
	}

	&.checked text {
	    display: block;
	}
}

input[type="checkbox"]:checked{
	~ .sn_checkbox-icon {
		text {
		    display: block;
		}
	}
}

.sn_radio-icon {
	#checked {
		display: none;
	}
}

input[type="radio"]:checked{
	~ .sn_radio-icon {
		#checked {
		    display: block;
		}

		#unchecked {
		    display: none;
		}
	}
}


.sn_radio-wrap.checked{
	.sn_radio-icon {
		#checked {
		    display: block;
		}

		#unchecked {
		    display: none;
		}
	}
}

.gray{
	color: #808080;
}

/*Divider*/
.sn_divider {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

	&:before {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 50%;
	    background: #808080;
	    width: 100%;
	    height: 0.5px;
	    transform: translateY(-50%);
	}
}

.sn_divider-text {
    position: relative;
    z-index: 1;
    background: #fff;
    display: inline-block;
    padding: 0 30px;
    font-size: 18px;
}

.show-on-large{
	display: block;
	@media(max-width:1200px){
		display: none;
	}
}

.hide-on-large{
	display: none;
	@media(max-width:1200px){
		display: block;
	}
}

@media(min-width:1200px){
	.show-on-large.abpr {
	    padding-right: 60px;
	}

	.abpl {
	    padding-left: 60px;
	}
}


.hide-on-phone{
	@include media-query-down('phone') {
        display: none !important;
    }
}

.show-on-phone{
	@include media-query-up('phone') {
        display: none !important;
    }
}

.center-on-mobile{
	@include media-query-down('phone') {
        text-align: center;
    }
}

/*=====  End of Basic CSS  ======*/
