/*===============================
=            Buttons            =
===============================*/
.button{
    display: inline-block;

    &.sn_header_btn {
	    white-space: nowrap;
	    border-radius: 7px !important;
	}

	&.noradius{
		border-radius: 0px !important;
	}
}

.btn-round {
    background: #fff;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    font-weight: 700;
}

.radius-5{
	border-radius: 5px !important;
}

button.process-to-payment {
    background-color: #2c2e2f !important;
}

.smbigbtn {
	@include media-query-down('phone') {
		.elementor-button {
	    	width: 260px;
	    }
    }
}

/*=====  End of Buttons  ======*/