
.wpcf7-response-output{
	//position: absolute;
    bottom: 100%;
    font-size: 11px;
    line-height: 1;
}

.wpcf7-not-valid + span{
	position: absolute;
    bottom: 100%;
    font-size: 11px;
    line-height: 1;
}

div.wpcf7 .ajax-loader{
	position: absolute;
}

.wpcf7 form{
	.email_capture_box{
		margin-bottom: 0px !important;

		.wpcf7-submit,
		input[type=email]:focus{
			background-color: transparent;
		}
	}
}
