.sn-sticky-toc {
  .elementor-toc__list-wrapper {
    margin: 0;
  }

  .elementor-toc__header {
    display: none;
  }

  .elementor-toc__list-item-text.elementor-item-active {
    text-decoration: underline !important;
  }

  .elementor-toc__body {
    padding-left: 0;
    padding-right: 0;
  }
}