#splendid_email_capture{
	.notice {
	    position: absolute;
	    bottom: 100%;
	    font-size: 11px;
	    line-height: 1;
	}

	input[type="email"]{
		&::-webkit-input-placeholder { /* Edge */
		  color: gray;
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: gray;
		}

		&::placeholder {
		  color: gray;
		}
	}

}

