.ast-separate-container #primary.m0 {
    margin: 0;
}

p.status {
    font-size: 12px;
    color: #F44336;
}

.give5-header-outer {
    position: relative;

	.give5-left {
	    position: absolute;
	    left: 0;
	    bottom: -50px;
	}

	.give5-right {
	    position: absolute;
	    right: 0;
	    top: 25px;
	}
}

.give5-header-bg {
    background-color: #f5faff;
    text-align: center;
    padding: 25px 0;
    position: relative;

    h1 {
	    margin-bottom: 25px;
	}

	p{
		font-size: 24px;
    	font-family: Aquawax Pro Bold;
	}
}

.giv5-love-area {
    text-align: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-top: 20px;
}

.giv5-love-img {
    width: 618px;
    margin: 0 auto;
    position: relative;

	img{
	    max-width: unset;
	    float: right;
	}

	.give5-bonus {
	    position: absolute;
	    right: 0px;
	    transform: translateX(110%);
	    top: 20px;
	    max-width: 271px;
	}

}

.give5-bonus-text {
    transform: rotate(-15.836deg) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

	h4 {
	    font-size: 40px;
	}
}

.login-register-area {
    position: absolute;
	width: 100%;
	margin-top: 110px;

    .logged-in:not(.page-template-tpl-processes) &{
    	margin-top: 143px;
    }
}

.sn-form-area{
	input{
	    width: 100%;
	    margin-bottom: 20px;
	    border: 2px solid #1a1a1a;
	    border-radius: 7px;
	    height: 50px;
	    background-color: #fff;
	}
}

.sn-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

	.frmh-text {
	    font-size: 14px;
	    font-family: Aquawax Pro RG;
	}

	.form-type {
	    font-size: 22px;
	    font-family: Aquawax Pro Bold;
	}
}

.sn-form-toggle {
    cursor: pointer;
    font-family: Aquawax Pro Bold;
}

.sn-form-area {
	margin-top: 20px;
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;

    .logged-in:not(.page-template-tpl-processes) &{
    	margin-top: 35px;
    }

    .affwp-errors {
	    font-size: 12px;
	}

    #affwp-register-form{
    	legend,
    	label[for="affwp-user-email"],
    	label[for="affwp-user-pass"],
    	label[for="affwp-user-name"],
    	label[for="affwp-user-name"] + input,
    	label[for="affwp-payment-email"],
    	label[for="affwp-payment-email"] + input,
    	label[for="affwp-user-url"],
    	label[for="affwp-user-url"] + input,
    	label[for="affwp-user-pass2"],
    	label[for="affwp-user-pass2"] + input,
    	label[for="affwp-promotion-method"],
    	label[for="affwp-promotion-method"] + textarea,
    	label[for="affwp-user-login"],
    	label[for="affwp-user-login"] + input{
    		display: none;
    	}

		input.button {
		    background: #1a1a1a;
		    padding: inherit;
		    display: inline-block !important;
		    width: auto;
		    padding-left: 30px;
    		padding-right: 30px;
		}
    }

    // TOS Consonent
	input#affwp-tos {
	    height: 12px;
	    width: 12px;
	    margin: 0;
	    margin-right: 5px;
	}

	label.affwp-tos {
	    font-size: 12px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-bottom: 8px;

	    a {
		    color: #3a3a3a;
		}
	}


}

#proceed-signup{
	#affwp-register-form{
    	label[for="affwp-user-email"],
    	label[for="affwp-user-email"] + input,
		input.button{
			display: none !important;
		}
	}
}

.signup-htext,
.give5-bottom-text{
	h5 {
	    line-height: 1.5;
	}
}

.forgot-pass {
	font-size: 14px;
    color: #1a1a1a;
    font-family: Aquawax Pro Bold;
    margin-top: 18px;
    display: inline-block;
}

.give5-bottom-wrap {
    background-color: #1a1a1a;
	padding-bottom: 60px;
	padding-top: 50px;
	margin-top: -1px;

    *{
    	color: #fff;
    }
}

.give5-bottom-outer {
    position: relative;
    margin-top: -350px;

    &.nomargin{
    	margin-top: 0;
    }
}

.give5-bottom-text,
.offer-details-hfe {
    display: inline-block;
    max-width: 370px;

	.elementor-icon-list-items {
	    position: relative;
	}

	.elementor-icon-list-icon {
		position: absolute;
		left: 0;

		@include media-query-down('phone'){
			position: relative;
		}
	}
}

.give5-half-right {
    float: right;
    width: 50%;
    text-align: center;
}


.give5-container {
    overflow: hidden;
}

/*Offer Details*/
.offer-details-hfe {
	float: left;
	position: relative;
    z-index: 9;

	.elementor-heading-title,
	.elementor-icon-list-text,
	.elementor-social-icon i {
	    color: #1a1a1a !important;
	}

	svg {
		text,
		tspan {
		    fill: #fff;
		}

		path{
			fill: #1a1a1a;
		}
	}
}

.offer-details-wrap{
	overflow: hidden;

	.giv5-love-area{
		overflow: unset;
		float: right;
		margin-top: 0;
	}

	.frmh-text{
		display: none;

	}
}

.offer-details-hfe-inner {
	margin-top: 80px;
}

.give5-bottom-wrap {


    a.elementor-icon:hover,
    a.elementor-icon:focus {
        color: gray !important;

        i{
            color: gray !important;
        }
    }
}


@include media-query-down('phone'){
	.giv5-love-img img.show-on-phone {
	    max-width: 100%;
	    float: none;
	}
	.giv5-love-img {
	    width: 100%;
	}

	.give5-header-bg{
		h1 {
		    margin-bottom: 12px;
		}

		p {
		    font-size: 16px;
		}
	}

	.login-register-area {
	    top: 0;
	    margin-top: 16%;
	    max-width: 260px;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	    width: 80%;
	}

	.sn-form-area {
	    margin-top: 8px;

	    button[type="submit"] {
		    height: 32px;
		    border-width: 1px;
		    font-size: 11px;
		    margin-bottom: 8px;
		    border-radius: 5px;
		    padding: 0 34px;
		}

		input {
		    height: 32px;
		    border-width: 1px;
		    font-size: 11px;
		    margin-bottom: 8px;
		    border-radius: 5px;
		}

	}

	.sn-form-header {
	    margin-bottom: 4px;
		.form-type {
		    font-size: 13px;
		}
		.frmh-text {
		    font-size: 11px;
		}
	}

	.affwp-form fieldset {
	    padding: 0;
	}

	.forgot-pass {
	    font-size: 11px;
	    margin-top: 0;
	}

	.signup-htext h5 {
	    margin: 0;
	}

	.give5-bottom-outer {
	    margin-top: -190px;
	}
	.give5-half-right {
	    width: 80%;
	}

	.give5-bottom-wrap {
	    padding-top: 100px;
	    padding-bottom: 30px;
	}

}


@media (max-width: 350px){
	.login-register-area {
	    max-width: 220px;
	}

	.sn-form-header .form-type {
	    font-size: 11px;
	}

	.sn-form-header .frmh-text {
	    font-size: 10px;
	}
}