.goodbye-left-img,
.goodbye-right-img,
.goodbye-scroll-img {
    position: absolute;
}

.goodbye-left-img {
    left: 0;
    bottom: -72px;
}

.sn-goodbye-wrap {
    position: relative;
    padding: 55px 0 130px;
    @include media-query-down('phone') {
    	padding: 45px 0;
    }
}

.goodbye-right-img {
    right: 0;
    bottom: 85%;

    @include media-query-down('phone') {
    	width: 47px;
	    top: -20px;
	    bottom: unset;
    }
}

.goodbye-scroll-img {
    right: 50px;
    bottom: -65px;
}