.splendid-header-widget-right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Aquawax Pro Bold;

    @media (max-width: 350px) {
        padding-right: 0px;
    }
}

.ast-header-break-point .site-header .main-header-bar-wrap .site-branding {
    align-items: center;


    @media (max-width: 350px) {
        padding-right: 0px;
    }
}

.ast-header-break-point .main-navigation ul .menu-item .menu-link {
    border: 0 !important;
}

.ast-header-break-point .ast-site-identity {
    align-items: center;
}

.ast-logo-title-inline .site-logo-img {
    padding-right: 1.5em;

    @media (max-width: 350px) {
        padding-right: 5px;
    }
}

#masthead .site-logo-img img{
    max-height: 55px!important;
}

.splendid-header-widget-left {
    display: inline-flex;
    align-items: center;

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: inline-flex;
        align-items: center;
    }

    a{
        color: #1a1a1a;
        padding: 0 25px;

        &:hover{
            color: #000;
            font-weight: 600;
        }
    }

    .heart-svg a {
        padding-left: 48px;
    }

    .buy-now-link{
        display: none;

    }

    @include media-query-down('tablet'){
        display: none;

    }
}

.main-header-menu a:hover,
.ast-header-custom-item a:hover,
.main-header-menu li:hover > a,
.main-header-menu li.focus > a {
    color: #000 !important;
    font-weight: 600;
}

.heart-svg:before {
    height: 27px;
    width: 36px;
    display: inline;
    position: absolute;
    background-repeat: no-repeat;
}

.heart-svg {
    position: relative;
}


.sncart {
    margin: 6px 12px 6px 50px;

    .sn-cart-count {
        top: -6px;
        position: absolute;
        bottom: 100%;
        color: #1a1a1a;
        font-size: 14px;
        right: -12px;
    }

    a {
        position: relative;
        display: block;
    }

    img {
        min-width: 39px;
        height: 34px;
    }

    @media (max-width: 420px) {
        margin-left: 0px;
    }
}

.ast-flyout-menu-enable.ast-header-break-point .main-header-bar .main-header-bar-navigation #site-navigation, .ast-flyout-menu-enable.ast-header-break-point .ast-primary-menu-disabled .ast-merge-header-navigation-wrap {
    width: 500px !important;
    padding-bottom: 0;
    max-width:100%;
}

.ast-header-break-point .main-navigation ul .button-custom-menu-item a, .ast-header-break-point .main-navigation ul li a {
    border: 0;
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .main-header-menu {
    border: 0;
    line-height: 1.8;
}

.main-header-menu .menu-item, .main-header-bar .ast-masthead-custom-menu-items {
    justify-content: center;
    text-align: center;
    display: inline-flex;
}

#menu-bottom-section {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.hidden-mobile-menu {
    width: 100%;

    .heart-svg:before {
        display: none;

    }

    @include media-query-up('tablet'){
        display: none;

    }
}

.sn_btnwrap{
    @include media-query-down('tablet'){
        display: none;

    }
}

.sn-shop-page {
    text-align: center;
    margin-bottom: 3em;
}

.sn_user_login_status {
    white-space: nowrap;
    margin-right: 40px;

    a{
        color: inherit;
    }

    @include media-query-down('phone'){
        display: none;
    }
}

@include media-query-down('phone'){
    .ast-flex.main-header-container{
        flex-wrap: nowrap;
    }
}