/*================================
=            Hero Slider         =
================================*/
.sn-hero-slider-wrap {
    position: relative;

    .ast-container {
        max-width: 1440px;
        padding: 0;
    }

    @include media-query-down('phone') {
        .ast-container{
            padding: 0;
        }

    }
}

.sn-slide {
    position: relative;
    margin: 0 auto;
}

.sn_slider-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 640px;
    margin-left: 60px;

	h2 {
	    margin-bottom: 18px;
	    text-align: left;
        margin-bottom: 30px;

        @include media-query-down('phone') {
            text-align: center;
        }

        @media (min-width: 1440px) {
            font-size: 74px;
            line-height: 1.3;
            white-space: nowrap;
        }
	}

	p {
	    margin-bottom: 40px;
        text-align: left;
        font-size: 26px;
        line-height: 1.18;

        @include media-query-down('phone') {
            text-align: center;
            margin-bottom: 30px;
            font-size: inherit;
            line-height: inherit;
            font-family: inherit;
        }
	}

    @include media-query-down('phone') {
        position: unset;
        transform: translateY(0);
        padding: 0 15px;
        text-align: center;
        margin: 0 auto;
    }
}

.sn_slideshow_img img {
    max-width: 1440px;
    margin: 0 auto;

    @include media-query-down('phone') {
        object-fit: cover;
        object-position: right;
        height: 390px;
    }
}

img.hero_shape_1,
img.hero_shape_2 {
    position: absolute;
    //z-index: 9;
}

img.hero_shape_1 {
    left: 0;
    top: 44px;
}

img.hero_shape_2 {
    right: 0;
    bottom: 20px;
}

.hero_shape_3 {
    z-index: 999;
    cursor: pointer;
    bottom: 20px;
    left: 7px;
    transition: transform .3s ease;
    position: fixed;

    &.animating{
        animation: scale_pulse 1s infinite;
    }

    &:hover{
        transform: scale(1.05);
    }
}



@keyframes scale_pulse {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.05);}
  100% {transform: scale(1);}
}

.sn_slideshow-btn {
    text-align: center;
    margin-top: 45px;
}

div[data-modal_id="dollar_five_modal"] svg {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    border-radius: 100%;
}