.refer-text {
    margin-bottom: 24px;
    line-height: 1.5;
}

.snref-progress {
	ul {
	    list-style: none;
	    margin: 0 auto;
	    padding: 0;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    max-width: 350px;


	    &.completed{
	    	border: 0;
	    }
	}

	li:not(:last-child){
		border-right: 1px solid #000;
	}

	li{
		width: 100%;
    	line-height: 40px;
    	border-top-width: 1px;
	    border-bottom-width: 1px;
	    border-color: #000;
	    border-style: solid;

	    &:first-child{
	    	border-left-width: 1px;
	    	border-radius: 100px 0 0 100px;
	    }

	    &:last-child{
	    	border-right-width: 1px;
	    	border-radius: 0 100px 100px 0;
	    }

    	&.active {
		    background: #000;
		    color: #fff;
		    border-right-color: #fff;

		    &:last-child{
		    	border-right-color: #000;
		    }
		}
	}
}

#share_link_input:focus,
#share_link_input{
	width: 100%;
    border: 2px solid #1a1a1a;
    height: 48px;
    color: gray;
    border-radius: 0;
    outline: 0;
}

#share_link_input:focus{
	color: #1a1a1a;
}

.snref-share-wrap {
    list-style: none;
    margin: 0;
    padding: 0;

    li{
    	position: relative;
    	display: flex;
    	align-items: center;
    	margin-bottom: 35px;

    	a{
    		display: flex;
    		align-items: center;
    	}
    }
}

#share_link_button{

	.copied_message{
		display: none;
	}

	&.copied{
		.copied_message{
			display: block;
		}
		.copy_message{
			display: none;
		}
	}
}

.snref-share-svg{
	width: 45px;
	min-width: 45px;
    margin-right: 30px;
    cursor: pointer;

	svg{
		display: block;
		width: 100%;
	}
}

.snref-share-button{
	margin-right: 20px!important;
    width: 250px;
    text-align: center;
    font-weight: normal !important;
    padding: 14px 5px !important;
}

.snref-progress {
    margin-bottom: 35px;
}

.snref-progress-text{
    margin-bottom: 10px;
}

.woocommerce-form {
	&.woocommerce-form-login,
	&.woocommerce-form-register{
		overflow: hidden;

		.form-row{
			clear: both !important;
			padding: 0 !important;
			float: none;
    		width: 100%;
		}

		.woocommerce-privacy-policy-text,
		#payment_email{
			display: none;
		}

		label[for="payment_email"] {
		    display: none !important;
		}
	}
}

.woocommerce-LostPassword.lost_password a{
	color: inherit;
}

/**
 * My reward
 */

.sn-reward-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;

	.reward-count,
	.reward-date,
	.reward-available,
	.reward-type {
		margin-right: 55px;
	}

	.reward-count {}
	.reward-date {}
	.reward-available {}
	.reward-type {}

	.reward-button {
		position: relative;
	}

	.reward-notice {
	    position: absolute;
	    bottom: 100%;
	    font-size: 12px;
	    text-align: center;
	    left: 0;
	    right: 0;
	}

	.reward-submit-applied {
	    cursor: not-allowed !important;
	    opacity: .7;
	}

}

.sn-myreward-content {
	h4 {
	    display: none;
	}
}

.free_box-wrap,
.five-free_shipping-wrap,
.affwp-credit-wrap {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}


.rewards-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;

	.rewards-col {
	    padding: 10px;
	}
}


div.rf-social {

	.essb_links.essb_template_grey-blocks-retina li a {
	    border: 0 !important;
	    display: flex;
	    align-items: center;
	    margin-bottom: 34px;
	}

	.essb_links.essb_template_grey-blocks-retina li a .essb_network_name {
	    margin: 0;
	    color: #ffffff;
	    background-color: #000000;
	    border-color: #000000;
	    margin-right: 20px!important;
	    width: 250px;
	    text-align: center;
	    font-weight: 400!important;
	    padding: 18px 5px!important;
	    border-radius: 11px;
	    font-size: 20px !important;
	}

	.essb_links .essb_icon:before{
	    font-size: 30px !important;
	    color: black;
	}

	.essb_links .essb_icon {
	    margin-right: 26px;
	}

	.essb_links.essb_template_grey-blocks-retina li a:hover,
	.essb_links.essb_template_grey-blocks-retina li a:focus {
	    background-color: transparent !important;
	}

}