.email_capture_box {
    position: relative;
    max-width: 250px;
    margin: 0 auto;

    input[type=email] {
        background: transparent;
        border: 3px solid #fff;
        box-sizing: border-box;
        color: #fff;
        font-size: 12px;
        width: 100%;
    }

    .btn_link {
        border: 0;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        padding: 0 13px;
        border-radius: 0;
        background: transparent;

    }


}


.claim_my_offer_box {
    margin-left: 0;
    width: 320px;

    input[type=email] {
        border: 2px solid #1a1a1a;
        width: 100%;
        margin-bottom: 13px;
        height: 46px;
    }

    .snec_submit {
        font-weight: normal !important;
        width: 100%;
    }
}

.splendid_email_capture {
    input[type=email]::placeholder{
        color: #fff;
    }

    &.claim_my_offer_box{
        input[type=email]::placeholder{
            color: #1a1a1a;
        }
    }
}
