.pos_r{
	position: relative;
}

.popup-active{
	overflow: hidden;

    body{
        &:before{
            position: fixed;
            content: "";
            background: rgba(26,26,26,.6);
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 100;
        }
    }
}

.sn_popup_close_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

.sn_popup_container,
.sns-popup {
	display: none;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #F5FAFF;
    z-index: 99999;
    //z-index: 101;

    .ast-container{
    	max-width: 700px;
    }

    .single_add_to_cart_button{
    	display: none !important;

    }
}

.sns-popup-sm {
    max-width: 800px;
    margin: 0 auto;
    max-height: 520px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.sns-popup-md {
    max-width: 1400px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    //max-height: 500px;

    max-height: 90%;
}

.snpopup-content {
	.after-title{
		line-height: 1.4;
		margin-bottom: 23px;
	}
}

.sn-product-wrap-outer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    top: 0;
    padding: 80px 0;
    //top: 50%;
    //transform: translateY(-50%);

    .button{
    	border-radius: 0 !important;
        min-width: 100%;
    }

    @include media-query-down('phone'){
        .ast-container{
            padding: 0 10px;
            overflow: hidden;
        }
    }
}

.snpopup-thumbnail img {
    max-height: 240px;
    width: auto;
}

.snpopup-container{
	margin-left: -30px;
	margin-right: -30px;
	position: relative;
    overflow: hidden;
	.col-6 {
	    width: 50%;
	    float: left;
	    padding: 0 30px;
	}

	.col-12 {
	    width: 100%;
	    float: left;
	    padding: 0 30px;
	}

	&.ov{
		overflow: visible;
	}

    @include media-query-down('phone'){
        margin-left: -10px;
        margin-right: -10px;
        .col-6 {
            padding: 0 10px;
        }

        &.checkout_btn-container{
            a.direct_cart_btn,
            a.direct_checkout_btn{
                font-size: 12px;
                white-space: nowrap;
                padding: 12px 3px;
            }
        }
    }
}

.snpopup-fakespace {
    display: block;
    height: 54px;
}

.snpopup-price {
    margin: 43px 0;
    font-size: 22px;
}

.radio-container{
    margin-bottom: 20px;
    display: block;

	.checkmark {
	    clear: both;
	    background: #fff;
	    padding: 19px 0;
	    text-align: center;
	    border-radius: 9px;
	    cursor: pointer;
	    border: 3px solid transparent;
	    font-family: Aquawax Pro Bold;
	}

	input{
		position: absolute;
    	top: -10000em;
    	width: 1px;
    	height: 1px;
    	margin: -1px;
    	padding: 0;
    	overflow: hidden;
    	clip: rect(0,0,0,0);
    	border: 0;
        visibility: hidden;

    	&:checked ~ .checkmark {
			border-color: #1a1a1a;
		}
	}

    @include media-query-down('phone'){
        margin-bottom: 10px;

        .checkmark {
            font-size: 12px;
            padding: 10px 0;
            border-width: 2px;
            margin-bottom: 0;
        }

        .snpt-serving-text {
            font-size: 12px;
        }
    }
}

.purchase_type-container {
	.tooltip {
	    position: absolute;
	    right: -50px;
	    top: 50%;
	    transform: translateY(-50%);
	}
}

.orbtn {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    @include media-query-down('phone'){
        font-size: 10px;
    }
}

.splendid_logo_loader {
	display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: .1;
    animation: opacity_pulse 1.5s infinite;
}

@keyframes opacity_pulse {
  0%   {opacity: .1;}
  50%  {opacity: .3;}
  100% {opacity: .1;}
}


/*Homepage Give 5*/
.dark-bg {
    background-color: #1a1a1a;
}
.sns-popup {

    &.dark-bg{
        svg g{
            stroke: #fff;
        }
    }

    .close_btn_div {
        position: absolute;
        z-index: 1;
        right: 30px;
        top: 30px;
    }


}

.sns-popup-inner {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;

    .elementor[data-elementor-type],
    .elementor-inner,
    .elementor-section-wrap{
        height: 100%;
    }

    .elementor{
        .popup-bottom{
            position: absolute;
            width: 100%;
            bottom: 0;
        }

        .popup-center{
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }


    &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb{
        background-color: #c1c1c1;
    }
}

.show_on_sns,
.show_on_otp{
    display: none !important;

    &.show{
        display: block !important;
    }
}

.close-popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 102;
}

.sns-popup[style="display: block;"] + .close-popup-overlay {
    display: block;
}

.subscribe-freeshipping-text {
    font-size: 18px;
    margin-top: 5px;

    &.show_on_sns{
        font-size: inherit;
        margin-top: 0;
    }
}


// Responsive
@include media-query-down('phone'){
    .snpopup-fakespace {
        height: 30px;
    }

    .snpt-serving-text {
        font-size: 12px;
    }

    .snpopup-price {
        margin: 30px 0;
        font-size: 18px;
    }

    .subscribe-freeshipping-text {
        font-size: 10px;
    }
}