/*.menu-item-911,
.menu-item-1052,
.woocommerce-MyAccount-navigation-link--refer-friend,
.woocommerce-MyAccount-navigation-link--my-rewards{
	display: none !important;
}

.hidden_for_staging {
    visibility: hidden;
    opacity: 0;
    height:250px;
}
*/

.woocommerce-checkout {
	footer#colophon {
    	display: none;
    }

    &.woocommerce-order-received{
    	footer#colophon {
	    	display: block;
	    }
    }
}
