.cs_star{
	display: inline-block;
	cursor: pointer;

	svg{
		display: block;

		path{

		}
	}

	&.selected,
	&.hover{
		svg path{
			fill: #fc0;
		}
	}

}



.cs_radio_select {
	overflow: hidden;
	margin-left: -22px;
	margin-right: -22px;
	margin-top: 40px;
	position: relative;

	.cs_select_text{
		border: 3px solid rgba(0,0,0,0);
	    background-color: #f7f7f7;
	    padding: 20px 40px;
	    text-align: center;
	    width: 244px;
	    font-family: Aquawax Pro Bold;
	    border-radius: 11px;

	}

	label{
		float: left;
	    cursor: pointer;
	    padding: 0 22px;
	}

	input{


	}

	input:checked ~ .cs_select_text,
	label:hover .cs_select_text{
		border-color: #1a1a1a;
	}

}


.cs_form_row  {
	overflow: hidden;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 30px;

	.cs_svg,
	.cs_field_area{
		float: left;
	    padding: 0 15px;
	}

	.cs_svg {
	    width: 90px;
	    text-align: center;
	}

	.cs_field_area {
	    width: calc( 100% - 90px );
	    padding-top: 12px;

	    &.w100{
	    	width: 100%;
	    }
	}

	p{
		font-size: 24px;
		line-height: 1.3;
	}

}

.cscf7-fields {
    display: none;
}

.cs_star_select {
    margin-top: 30px;
    position: relative;

    .screen-reader-text{
    	top: 0;
    }
}

.sn_has_optional {
    display: flex;
    justify-content: space-between;
}

.sn_optional_rating {
  padding-right: 70px;
  white-space: nowrap;
}

.sn_optional_field {
    width: 100%;
}

.sn_textarea_review{
	margin-top: 50px;
}

.sn_textarea {
    min-height: 130px;
    resize: none;
}

.cs_submit {
    margin-top: 18px;
    margin-bottom: 30px;
    width: 320px;
}

.survey_error{
	.survey-error-msg{
		display: block;
	}
	.start_survey_button{
		.elementor-button {
			outline-width: 2px;
		    outline-color: red;
		    outline-style: solid;
		    outline-offset: 3px;
		}
	}
}


@include media-query-down('phone'){
   .cs_form_row p {
	    font-size: 14px;
	}

	.cs_form_row .cs_field_area {
    	padding: 0;
	}

	.cs_form_row .cs_svg {
	    width: 60px;

	    svg {
			width: 100%;
		    height: auto;
		}

	}

	.cs_star svg {
	    width: 25px;
	    height: 25px;
	}

	.sn_has_optional {
	    flex-wrap: wrap;
	}

	.cs_radio_select {
	    display: flex;
	    margin-left: -10px;
    	margin-right: -10px;
    	margin-top: 16px;

	    label,
	    .cs_select_text{
	    	width: 100%;
	    }

	    label{
	    	padding: 0 10px;

	    }
	}

	.cs_star_select {
	    margin: 10px 0;
	}

	.sn_textarea_review {
	    margin-top: 16px;
	}

}