.sn-testimonial-wrap {
    max-width: 880px;
    margin: 0 auto;
}

.review-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.review-stars img {
    width: 25px !important;
    margin: 0 2px;

    @include media-query-down('phone') {
        width: 15px !important;
    }
}

.sn_testimonial-caption {
    text-align: center;
    font-family: Aquawax Pro RG;
    background: #fff;
    max-width: 280px;
    margin: 0 auto;
    padding: 12px 12px;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
}

.sntt-name-loc .loc {
    font-style: italic;
}

.sntt-name-loc .name {
    font-family: Aquawax Pro Medium;
}

.sntt-name-loc {
    margin-top: 3px;

    @include media-query-down('phone') {
        font-size: 11px;
    }
}

.sn-tmslide {
    margin: 0 15px;
    @include media-query-down('phone') {
        margin: 0 7px;
    }
}

// Responsive
@include media-query-down('phone') {
    .sntt-desc {
        font-size: 10px;
    }
}