.woocommerce-shipping-fields {
    padding: 0;
    border-radius: 7px;
    border: 1px solid #808080;
    overflow: hidden;
}

.seperator {
    width: 100%;
    height: 1px;
    background: #808080;
}

.sn_radio-wrap{
    padding: 18px 11px;
}

.sn_radio-wrap.active {
    background: #f7f7f7;
}

.shipping_address {
    padding: 0 8px 10px;
    overflow: hidden;
    background: #f7f7f7;

    &.hidden{
        display: none !important;
    }
}

.sn-edit-cart-link-area {
    text-align: right;
    margin-bottom: 20px;
}


#billing_email_field {
    display: none;
}

.sn_checkout_loggedin_text{
    margin-bottom: 30px;

    a{
        color: inherit;
    }
}

.shipping-label,
.shipping-label-sep {
    display:none;
}

.shipping-label[data-label*="free"],
.shipping-label-sep[data-label*="free"] {
    display:block;
}

.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr td,
.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr th {
    padding-top: 3px;
    font-size: 16px;
    padding-bottom: 3px;
    vertical-align: middle;
}


.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr:first-child td,
.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr:first-child th{
    padding-top: 10px;
}

.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr:nth-last-child(2) td,
.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr:nth-last-child(2) th{
    padding-bottom: 20px;
}

.woocommerce-page.woocommerce-checkout table.shop_table tr.order-total td,
.woocommerce-page.woocommerce-checkout table.shop_table tr.order-total th {
    border-top: 1px solid gray;
    font-family: 'Aquawax Pro Bold';
    font-weight: normal;
    padding-top: 8px;
}

.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr.woocommerce-shipping-totals td{
    //font-family: 'Aquawax Pro RG';
}

.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr.woocommerce-shipping-totals td,
.woocommerce-page.woocommerce-checkout table.shop_table tfoot tr.woocommerce-shipping-totals td * {
    font-weight: normal !important;
}