/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
	font-family: 'star';
	src: url('../fonts/star.eot');
	src: url('../fonts/star.eot?#iefix') format('embedded-opentype'),
		url('../fonts/star.woff') format('woff'),
		url('../fonts/star.ttf') format('truetype'),
		url('../fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WooCommerce';
	src: url('../fonts/WooCommerce.eot');
	src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WooCommerce.woff') format('woff'),
		url('../fonts/WooCommerce.ttf') format('truetype'),
		url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}



.woocommerce{
	a.remove{
		border:0;
	}

	form .quantity .minus,
	form .quantity .plus,
	.quantity input[type=number]{
		border-color: #1a1a1a !important;
    	color: #1a1a1a !important;
	}

	ul.products {
		li{

			&.product a img{
				width: unset;
			}

			&.sn-find-focus-row {
			    border-top: 1px solid #1a1a1a;
			    padding: 40px 0 !important;
			    margin-bottom: 0;
			    display: flex;
	    		align-items: center;
	    		justify-content: space-between;
			}

			&:last-child{
				border-bottom: 1px solid #1a1a1a;
			}

			.ssff-price{
				.price{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					font-weight: 400;
					font-size: 21px;

					del {
					    order: 2;
					    width: 100%;
					}

					ins {
					    order: 1;
					    width: 100%;
					    font-weight: 400;
					}
				}
			}

		}

	}

	.sn-checkout-login-form{
		form.login{
		    border: 0;
		    padding: 0;
		    margin: 0;
		    text-align: left;
		    border-radius: 0;

		    .form-row,
		    .form-row.ast-float-label{
		    	min-width: 100%;
		    	margin: 0;
		    	padding: 0;

		    	label{
		    		display: none;
		    	}

		    	input[type=text],
		    	input[type=email],
		    	input[type=password]{
		    	    padding: 14px 10px;
		    	    height: 54px;
    				margin-bottom: 20px;
		    	}
		    }

		    .message{
		    	margin-bottom: 20px;
		    }

		    .woocommerce-form-login__submit {
			    border-radius: 7px !important;
			}

			.lost_password {
			    margin-top: 8px;
				a{
					color: inherit;
				}
			}
		}
	}
}

.woocommerce-page {
	#content table.cart{
		.product-price{
			display: none;
		}
	}

	table.shop_table {
		border-width: 0px !important;

		thead{
			display: none;
		}

	}

	#content table.cart .button[disabled]{
		visibility: hidden;
	}

	table.cart .product-thumbnail{
		word-wrap: break-word;
		max-width: 155px;
	}
}

.woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce-page ul.products li.product .woocommerce-loop-product__title, .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title{
	font-family: Subway !important;
	font-size: 28px;
}

.woocommerce #content table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img,
.woocommerce table.cart img {
    height: 75px;
    width: auto;
    max-width: 100%;
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table th,
.woocommerce-page table.shop_table td,
.woocommerce-page table.shop_table th {
    padding: 1.7em 1em;
    border-color: #1a1a1a;
}


.ssff-text{
	.text-sm {
	    font-family: Aquawax Pro RG;
	}

	p{
		font-size: 21px;

		&:first-child{
			margin-bottom: .5em;

		}
	}

}

.snff-thumbnail{
    width: 190px;

	.snff-product-link {
	    display: block;
	    width: 100%;
	}

	img{
		height: 120px;
		width: auto;
	}

}

.woocommerce-product-gallery{
	overflow: hidden;
	position: relative;

	//.flex-control-thumbs {
	//    list-style: none;
	//    overflow: auto;
	//    white-space: nowrap;
	//    margin: 0px -20px;
	//}
	//.flex-control-thumbs li {
	//    display: inline-block;
	//    width: 25%;
	//    padding: 20px;
	//}
	//.flex-control-thumbs li img {
	//    display: block;
	//    width: 100%;
	//    height: auto;
	//    object-fit: cover;
	//}

	.owl-nav{
		button.owl-prev,
		button.owl-next{
			height: 50px;
    		width: 50px;

    		&:hover svg path{
				stroke: #fff !important;
			}
		}

		button.owl-prev{
			left: 0;
		}

		button.owl-next{
			right: 0;
		}


	}
}

.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: none;
}

.woocommerce-product-gallery__image{
	a{
		display: block;

	}


}

.woocommerce-product-gallery-thumb {
    margin: 0 -5px;
	.item-thumb {
	    padding: 10px 5px 0;

	    img{
			height: 95px;
			width: 100%;
			object-fit: cover;
			cursor: pointer;
	    }
	}

}

.sn-product-desc {
    font-size: 22px;

	h5 {
	    font-size: 22px;
	    margin-bottom: 20px;
	    @include media-query-down('phone') {
	    	font-size: 16px;
	    }
	}
	li {
	    margin-bottom: 15px;
	    line-height: 1.3;
	}

	ul {
	    margin-left: 24px;
	}
}

.woocommerce-message, .woocommerce-error, .woocommerce-info {
    border: 0;
    background:  transparent;
    padding-left: 0;

	&:before,
	&:before,
	&:before {
	    display: none;
	}
}


.woocommerce-cart {
	.cart-collaterals {
		.cart_totals {
			tr {
				td, th{
					padding-top: 10px;
    				padding-bottom: 10px;
				}
			}
		}
	}
}

@include media-query-down('phone') {
	.elementor-widget-sn-woocommerce-product-rating{
		.star-rating{
			font-size: 12px;
		}
		.woocommerce-review-link {
		    font-size: 12px;
		    line-height: 0 !important;
		    vertical-align: middle;
		}
	}
}


/**
 * My Account Style
 */
.woocommerce-MyAccount-navigation-link {
  list-style: none;
  border-bottom-width: 0;

  a{
  	display: inline-block;
    padding: 5px 0;
    color: #1a1a1a;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    margin-bottom: 18px;
  	position: relative;

	.count {
	    position: absolute;
	    top: 7px;
	    right: 0;
	    font-size: 14px;
	    font-family: Aquawax Pro Bold;
	    transform: translate(100%,-100%);
	}
  }

  &.woocommerce-MyAccount-navigation-link--my-rewards a{
  	//pointer-events: none;
  }
}

.woocommerce-MyAccount-navigation-link:last-child {
  border-bottom-width: 1px;
}

.woocommerce-MyAccount-navigation-link.is-active a {
	border-bottom-color: inherit;
    display: inline-block;
    font-family: Aquawax Pro Bold;
}

.woocommerce-MyAccount-navigation > ul {
  margin: 0;
}

.woocommerce-account .woocommerce-EditAccountForm .woocommerce-Button {
  margin-top: 1em;
  margin-left: 3px;
}

.woocommerce-account{

}

.dfms-wrap img.hero_shape_3 {
    bottom: 0;
}


// elementor Tab
.elementor-widget-tabs {
	.elementor-tab-desktop-title {
	    border-color: #D4D4D2;
	    border-top-left-radius: 11px;
	    border-top-right-radius: 11px;
	    width: 100%;
	    text-align: center;
	}

	.elementor-tabs-wrapper {
	    display: flex;
	    justify-content: space-between;

	    .elementor-tab-title {
			a {
			    white-space: nowrap;
			}
		}
	}

	&.elementor-tabs-view-horizontal .elementor-tab-content {
	    border-style: none solid solid;
	}

	@include media-query-down('phone'){
		.elementor-tab-desktop-title {
		    border-top-left-radius: 7px;
		    border-top-right-radius: 7px;
		    padding: 8px 5px;
		}
	}

}

.product-tab-area {
    margin-left: 10px;
    margin-right: 10px;
}

.elementor-tab-mobile-title {
    display: none;
    border-width: 0 !important;
}





.woocommerce{
	nav.woocommerce-pagination{
		text-align: center;
	}
	#tab-reviews{
		#reviews {
			.woocommerce-Reviews-title{
				display: none;

			}

			#comments,
			#review_form_wrapper{
				min-width: 100%;
				padding: 0 !important;
    			float: none;
			}

			#comments{

				ol.commentlist {
					margin-left: -25px;
					margin-right: -25px;
					width: auto;

					li {
					    width: 50%;
					    float: left;
					    padding: 0 25px;
					    border: 0;

						.comment-text{
							padding: 0;
							margin: 0;
						}

						img.avatar{
							display: none;
						}

						.comment_container{
						    position: relative;
						    padding-top: 17px;

							&:before{
								height: 1px;
							    content: "";
							    position: absolute;
							    width: 100%;
							    background: #000;
							    left: 0;
							    top: 0;
							}
						}

						@include media-query-down('phone') {
							width: 100%;
							float: none;
						}
					}
				}
			}

			#review_form_wrapper{
				margin-top: 60px;
			}
		}
	}

	.add-review-btn-wrap {
	    text-align: center;
	    display: block;
		margin-top: 60px;
	    .add-review-btn {
		    border-radius: 0;
		    border: 2px solid #1a1a1a;
		    color: #1a1a1a;
		    background: transparent;
	    }
	}

	@include media-query-down('phone') {
		#reviews #review_form {
		    padding: 10px 10px;
		}
		.comment-reply-title {
		    font-size: 22px;
		    padding: 0;
		    display: block;
		    margin-bottom: 8px;
		}
	}

}

.woocommerce .star-rating, .woocommerce .comment-form-rating .stars a, .woocommerce .star-rating::before {
    color: #ffcc00;
}

.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li {
    border: 0;
}

.woocommerce nav.woocommerce-pagination ul li > span.current, .woocommerce nav.woocommerce-pagination ul li > .page-numbers {
    border: 0;
    padding: 4px !important;
    color: #1a1a1a;
    min-width: 30px;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #1a1a1a;
    color: #f7f7f7;
}

section.woocommerce-order-details,
section.woocommerce-customer-details {
	display: none;
}

.woocommerce-order-received{
	.entry-header,
	.site-header{
		display: none;
	}

	#primary{
		padding: 0;
		margin: 0 !important;
	}
}

.free_shipping_tag {
    position: absolute;
    top: 0;
    background: #ffddb4;
    font-size: 11px;
    padding: 6px 10px;
}

.woocommerce-MyAccount-navigation ul li>a:before{
	display: none;
}
.woocommerce form.checkout_coupon,
.woocommerce-form-coupon-toggle {
    display: none !important;
}

.woocommerce.woocommerce-checkout form #order_review, .woocommerce.woocommerce-checkout form #order_review_heading, .woocommerce-page.woocommerce-checkout form #order_review, .woocommerce-page.woocommerce-checkout form #order_review_heading,.woocommerce.woocommerce-checkout form #customer_details.col2-set, .woocommerce-page.woocommerce-checkout form #customer_details.col2-set {
    float: none;
    min-width: 100%;
    clear: both;
}

.sn-checkout-right {
    width: 40%;
    position: fixed;
    right: 0;
    background: #f7f7f7;
    padding: 100px 50px;
    top: 0;
    height: 100%;
    overflow: auto;
}

.sn-checkout-left{
    width: 60%;
    background: #fff;
    padding-left: 100px;
    padding-right: 50px;
}

.sn-form-coupon {
	width: 100%;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #808080;
    padding-top: 33px;
    padding-bottom: 43px;

	#sn_coupon_submit {
	    width: 35%;
	    /* font-family: Aquawax Pro RG; */
	    line-height: 1;
	    padding-left: 0;
    	padding-right: 0;
    	float: right;
	}

	#sn_coupon_code {
	    width: 62%;
	    border-radius: 7px;
	    border-color: #1a1a1a;
	    padding-right: 20px;
	    float: left;
	}
}

.sn-coupon-form-mobile{
	.sn-form-coupon {
	    border-width: 0px;
	    padding-top: 0;
	    padding-bottom: 0;

		#sn_coupon_submit {
			font-weight: normal;
		    padding: 13px 0;
		}

		#sn_coupon_code {

		}
	}
}

.woocommerce-page.woocommerce-checkout form #order_review {
    padding: 0;
    border-width: 1px;
    border-color: #808080;
    border-radius: 9px;
    overflow: hidden;
}

.sn-cart-item{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;

	.product-image {
	    width: 65px;
	    height: 91px;
	    position: relative;
	    display: flex;
    	align-items: center;
    	min-width: 65px;
	}

	.product-quantity {
		position: absolute;
	    top: 0;
	    background: grey;
	    color: #fff;
	    height: 25px;
	    width: 25px;
	    border-radius: 100px;
	    font-size: 14px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    right: 0;
	    transform: translate(15px, -15px);
	}

	.product-datas {
	    width: 100%;
	    padding-left: 30px;
	    display: flex;
	    justify-content: space-between;
	}

	.product-name {
	    padding-right: 30px;

		div {
		    font-size: 18px;
		}

		div:not(:last-child) {
		    margin-bottom: 10px;
		}
	}
}

.woocommerce #content table.cart td,
.woocommerce-page #content table.cart td {
    border-top-width: 1px;
    padding: 2em 1em;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    min-width: 100%;
}

.price_subscribe{
	.subscription-details{
		display: none;
	}
}


// Responsive
@include media-query-down('phone'){
	.woocommerce-page .woocommerce-cart-form table.shop_table {
	    border-width: 1px !important;
	}

	.woocommerce-page .woocommerce-cart-form table.shop_table td,
	.woocommerce-page .woocommerce-cart-form table.shop_table th,
	.woocommerce .woocommerce-cart-form table.shop_table td,
	.woocommerce .woocommerce-cart-form table.shop_table th {
	    border-color: #ebebeb;
	    padding: .7em 1em !important;
	    font-size: 14px;

	    img{
	    	height: auto;
	    }
	}

	.woocommerce-cart-form table.shop_table td.product-name{
		overflow: hidden;

		a{
			display: inline-block;
    		max-width: 60%;
		}

	    h4{
	    	margin-bottom: 0;
	    	font-size: 14px;
    		float: right;
	    }
	}

	.woocommerce-page table.cart .product-thumbnail {
	    max-width: 100%;
	}

	table.shop_table_responsive tr.fee {
		th{
			display: none;
		}

		td{
			&:before{
				text-align: left;
			}
		}
	}

	.woocommerce-cart .cart-collaterals .cart_totals tr td,
	.woocommerce-cart .cart-collaterals .cart_totals tr th{
	    padding-left: 0;
    	padding-right: 0;
    	font-size: 14px;
	}

}